@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
body {
margin:0;
/* font-family: 'Comfortaa', sans-serif; */
  /* background-image: url(./Images/bg_1.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

code {
  font-family: 'Comfortaa', sans-serif;
}
